.headers{
    width: 30%;
    float:left;
    text-underline-position: below;
    text-align: center;
}
.header2 {
    width:40%;
    float:left;
    text-align: center;

}
.all{
    
    display: flex;
    flex-direction: row;
    align-self: center;
}
.sectgrid {
    display: grid;
    grid-gap: 10%;
    
}
.blogposts{
    left:50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    
}

.box {
    text-align: left;
    width: 40vw;
    height: 30vh;
    border:6px solid grey;
    padding-left: 20px;
    background-image: url("../images/images.jpg");
    background-size: cover;
}
.smallgrid {
    display:grid;
}
.footer {
    margin-top: 200px;
}
.img {
    width: 50px;
    height: 50px;

}
