.first_line{
    display: inline;
    position: relative;
    left: 150px;
}
.name{
    position: relative;
    left: 460px; 
    text-decoration: underline;
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 100px;
}
.number_one{
    order: 1;
    position: relative;
    left: 67px;
    width: 800px;
    height: 1500px;
    border: 1px hidden;
    margin: 0px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.number_two{
    order: 2;
    position: relative;
    left: 90px;
    width: 300px;
    height: 1500px;
    border: 1px hidden;
    margin: 0px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
.color_blue{
    color:  #00b8e6;
}
.sample_size{
    font-size: 45px;
}
.intro{
    position: absolute;
    top: 58px;
}
.text_box{
    border: 2px solid gray;
    height: 60px;
}
.heading_size{
    font-size: 34px;
    font-weight: bold;
}
.img{
    position: relative;
    left: 900px;
}
.sub_size{
    font-size: 30px;
    font-weight: bold;
}
.border{
    border: 2px solid gray;
}
.sb{
    border: 10px hidden white;
    background: rgb(214, 228, 233);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.about_size{
    font-size: 30px;
    font-style:italic;
    font-weight: bold;
} 
.newbox1{
    width: 815px;
    height: 60px;
    border:6px solid #000; 
    text-align:center; 
    background-color: #cccccc;
    position: absolute;
    left: 370px;
    top: 1200px;
}
body{
    background-image: url('../images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
}
@media (max-width: 900px){
    body{
        background-image: url("../images/dark-low-poly-background_1048-7971.jpg");
    }
}







